<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/grubhubnew.css" rel="stylesheet" type="text/css">
    <title><%= newtitle %></title>
</head>
<body>
    <div class="login-nav">
        <div class="login-nav-col login-nav-brand">
            <a href="" class="brand-logo" title="GRUBHUB"></a>
        </div>
    </div>
    <div class="container">  
        <form action="" class="sign-in-form">
            <h3>Create your account</h3>

            <div class="form-control">
                <label for="email">First Name</label>
                <input type="email" id="fname-input" name="fname" required>
            </div>

            <div class="form-control">
                <label for="password">Last Name</label>
                <input type="password" id="lname-input" name="lname" required>
            </div>

            <div class="form-control">
                <label for="password">Email</label>
                <input type="password" id="password-input" name="useremail" required>
            </div>

            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" id="password-input" name="userpass" required>
            </div>

            <button class="create-account"type="submit">
                <span>Create your account</span>
            </button>

            <div class="text">or</div>

            <button class="google-sign-in"type="submit">
                <img role="presentation" class="google-img">
                <span>Continue with Google</span>              
            </button>


        </form>
    </div>
</body>
</html>