<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <title>
    <%= title %>
  </title>
</head>

<body>
  <h1 id="page-title">Welcome</h1>

  <form id="formAddUser" name="adduser" method="post" action="/adduser">
    <div class="container">
      <h2 id="form-header">Application Login</h2>
      <div class="form-control">
        <label for="form-email">Email</label>
        <input type="email" id="input_1" placeholder="Enter Email" name="useremail" required>
        <small>Error Message</small>
      </div>
      <br>
      <div class="form-control">
        <label for="form-password">Password</label>
        <input type="password" id="input_2" placeholder="Enter Password" name="userpass" required>
        <small>Error Message</small>
      </div>
      <br>
      <button type="submit" id="login">Login</button>
      <button id="btnSubmit" type="click">Check User and Password</button>
    </div>

  </form>
  <script type="text/javascript" src="/js/login.js"></script>
</body>

</html>