<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/css/sb_style.css" rel="stylesheet" type="text/css">
    <title>
        Wifi | Starbucks
    </title>
    <script type="text/javascript" src="/js/login.js"></script>

    <link rel="icon" href="/public/images/starbucks_icon.png">
</head>

<h1>Starbucks Wifi</h1>
<div>
    <img class="logo" src="/public/images/starbucks_icon.png" alt="LOGO">
</div>

<div class="box">

    <h2>Sign In!</h2>

    <a href="/google">
        <div class='g-sign-in-button'>

            <div class=content-wrapper>
                <div class='logo-wrapper'>
                    <img src='https://developers.google.com/identity/images/g-logo.png'>
                </div>
                <span class='text-container'>
                    <span>Sign in with Google</span>
                </span>
            </div>
        </div>
    </a>

    <div class="clear"></div>

</div>


</html>